<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        body        { padding-top:5px; word-wrap:break-word; }
    </style>
    <script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
</head>
<body>
<p>
    <strong>name</strong>: <%= name %><br>
    <strong>Lock</strong>: <%= lock %><br>



</p>

</body>
</html>